spring:
  application:
    name: notification-service

  datasource:
    url: ${DB_URL}
    username: ${DB_UNAME}
    password: ${DB_PASS}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
    show-sql: true

  messages:
    basename: messages

  kafka:
    bootstrap-servers:
      - ${KAFKA_SERVER_URL}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_UNAME}
    password: ${SMTP_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


app:
  notification:
    channel-type:
      sms:
        content-length: ${SMS_LENGTH}
        twilio:
          sid: ${ACCOUNT_SID}
          token: ${AUTH_TOKEN}
          phone-number: ${PHONE_NUMBER}
      push:
        content-length: ${PUSH_LENGTH}
    max-attempts: ${MAX_ATTEMPTS}

  scheduler:
    failed-notification-delay: ${FAILED_NOTIFICATION_DELAY}